<div class='menu-container' align="center">
  <div class='add-travel-note'>
    <h2 class="bg-success">
      Travelogues - {{user_name}}, Enter a trip to remember
    </h2>
    <br />
    <form class='new-post-form'>
      <label for='destination'><big>Destination Name:</big></label>
       <br />
      <input class="text-border" type='text' id="destination" name="destination" />
      <br /> <br />
      <label for='note'><big>Travel Notes:</big></label>
       <br />
      <textarea class="text-border" id='note' name='note' rows='5' cols='30'></textarea>

      <div class='menu-container' style="gap: 16px;"  align="center" >
        
        <div>
          <label for="start-date"><big>Start Date:</big></label>
          <br />
          <input class="text-border" type="date" id="start-date" name="start-date">
        </div>

        <div>
          <label for="end-date"><big>End Date:</big></label>
          <br />
          <input class="text-border" type="date" id="end-date" name="end-date">
        </div>
      </div>
      <br /> <br />
      <button class="btn btn-primary btn-lg" type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>
</div>
<!-- This is the form for adding a new log-->
<script src='/js/addTravel.js'></script>