<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    <p>
      Travel Notes:
      {{description}}
    </p>
    <p>
      Dates:
      {{guest_name}}
    </p>

  </div>
</div>