<div class="navbar bg-info">
    <div style="margin-top: 80px;" class="text-center p-5 mb-4 bg-light">
        <h1>
            <img class="logo" style: height="200px" width="200px" src="./assets/images/TLLogo01.png"
                alt="Travelogue Logo" />
        </h1>
        <h2 class="mt-4">Travelogue</h2>
        <h4 class="mt-4">Remember your travels</h4>
        <a class="btn btn-primary btn-lg mt-4" href="/login" role="button">Get Started</a>
    </div>
</div>